datasets==3.5.1
huggingface_hub==0.30.2
midiutil==1.2.1
numpy==1.26.4
pretty_midi==0.2.10
python-dotenv==1.1.0
requests==2.32.3
runpod==1.7.9
soundfile==0.13.1
torch==2.5.1
tqdm==4.67.1
transformers==4.51.3
unsloth==2025.4.3
unsloth-zoo==2025.4.2
wandb==0.19.10